################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BottlesOfBeer/.vs/BottlesOfBeer/v14/.suo
